:root {
    --font18: 18px;
    --font40: 40px;
    --font2: 2rem;
    --font2d5: 2.5rem;
    --font3: 3rem;
    --font3d4: 3.4rem;
    --font3d5: 3.5rem;
    --font3d6: 3.6rem;
    --font4: 4rem;
    --font5: 5rem;
    --font5d2: 5.2rem;
    --font5d6: 5.6rem;
    --font6: 6rem;
    --font6d2: 6.2rem;
    --font6d4: 6.4rem;
    --font6d5: 6.5rem;
    --font6d6: 6.6rem;
    --font7: 7rem;
    --font7d2: 7.2rem;
    --font10r: 10rem;
}

.followed-element {
    position: relative;
    transform: scale(1);
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
}

.image-container {
    transform: scale(1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.red-circle-serv {
    position: absolute;
    top: -2%;
    left: 0;
    width: 600px;
    z-index: -1;
}

.red-circle-serv img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.red-circle-feedback {
    position: absolute;
    top: 3%;
    right: 0;
    transform: rotate(180deg);
    width: 25%;
    z-index: -1;
}

.red-circle-feedback img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.services_title {
    color: var(--primary);
}

.services_next {
    background-image: url("../images/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    position: absolute;
    top: -13.5rem;
    right: 20px;
    height: 10.5rem;
    width: 10.5rem;
    border-radius: 50%;
    border: 1px solid var(--primary);
    background-color: transparent;
}

.services_slider {
    list-style-type: none;
    display: flex;
    align-items: stretch;
    transition-duration: 0ms;
    transform: translate3d(-10000px, 0px, 0px);
    height: 515px;
}

.services_slider-item {
    width: 125rem;
    padding-left: 13.5rem;
    transition: 0.4s;
    flex-shrink: 0;
    position: relative;
    display: flex;
    align-items: stretch;
}

.services_more {
    color: white;
    text-decoration: none;
    margin-bottom: 2.5rem;
    line-height: 40px !important;
    position: relative;
    bottom: auto;
    right: auto;
    font-size: var(--font3);
}



.feedback_form {
    margin: 0 5rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

label {
    display: inline-block;
    vertical-align: middle;
}

.field {
    margin: 3rem 5rem 1rem 0 !important;
    width: 40%;
}

.field-textarea {
    margin: 3rem 5rem 1rem 0 !important;
}

.field_comment {
    margin: 5rem;
    width: 100%;
}

.field-input {
    height: 8rem;
    font-size: 24px;
    width: 95%;
    font-weight: 700;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    color: white;
}

.field-input_title {
    font-weight: 400;
    display: block;
}

.btn-submit {
    margin-top: 5rem;
    margin-left: 5rem;
    font-size: var(--font6);
    font-weight: 700;
    letter-spacing: 0.075em;
    background-color: transparent;
    color: white;
    border: none;
}

.btn-submit:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 3rem;
    height: 1.6rem;
    margin-left: 0.5rem;
    background-size: contain;
    background-image: url(right_arrow.png);
    width: 6.3rem;
    height: 3.2rem;
    margin-left: 4rem;
    transition: 0.2s;
}


.slide-text {
    position: absolute;
    bottom: 20px;
    left: -80px;
    color: white;
    font-size: var(--font5d2);
    font-weight: 600;
    padding: 10px;
    z-index: 9;
}

.slide-a {
    font-size: var(--font18);
    line-height: 30px !important;
    transition: all 0.5s ease;
}

.slide-a:hover {
    text-decoration: none;
}

.slide-span {
    left: -80px;
}

.carousel-custom {
    position: relative;
    width: 100%;
    margin-top: 100px;
}

.slick-track,
.slick-list {
    width: 100%;
}

.serv-slider .slick-slide {
    opacity: 0.5;
    transition: opacity 0.5s;
}

.serv-slider .slick-slide.slick-current {
    opacity: 1;
}

.slick-active {
    transform: translateY(-50px) !important;
    transition: transform 0.5s ease !important;
}

.slick-slide {
    transform: translateY(50px);
    transition: transform 0.5s ease !important;
}

.carousel-custom .slick-slide {
    transition: all 0.8s ease;
    position: relative;
    opacity: 0.5;
    width: auto;
    margin: 0 40px;
    box-sizing: border-box;
    margin-left: 100px;
    margin-right: 100px;
    z-index: -1;
}

.carousel-custom .slick-slide.slick-current {
    opacity: 1;
    transform: scale(1);
    z-index: -1;
}

.carousel-custom-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    margin: auto;
}

.carousel-custom-item {
    display: block;
    position: relative;
}

.contacts_request_ {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.carousel-custom .slick-slide:not(.slick-current) .carousel-custom-item img {
    filter: brightness(50%);

}

.carousel-custom .slick-slide .slide-text,
.carousel-custom .slick-slide .slide-a {
    display: none;
}

.carousel-custom .slick-slide.slick-current .slide-text,
.carousel-custom .slick-slide.slick-current .slide-a {
    display: inline-block;
}

.slick-prev {
    position: absolute;
    top: 38%;
    left: -4%;
}

.slick-next {
    position: absolute;
    top: 38%;
    right: -2%;
}

.button-block {
    display: inline-block;
    font-size: var(--font4);
}

.slick-slider {
    display: flex;
}

.field-input_title {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
}

.field-input::placeholder {
    font-size: 20px;
    font-weight: 400;
    transition: transform 0.3s ease;
    color: #fff;
}

.field-input:focus::placeholder {
    transform: translateY(-100%) scale(0.8, 0.8);
    transform-origin: left top;
    font-size: 16px;
    color: #999;
}

.modal-content {
    transition: transform 0.5s ease-in-out;
    transform: translateY(0);
}

.slide-out {
    transform: translateY(100%);
}

@keyframes slideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}

@media (max-width: 1440px) {
    .mainSlider {
        margin-top: 55px;
    }

    .field-input:focus::placeholder {
        transform: translateY(-74%) scale(0.8, 0.8);
    }

    .carousel-custom {
        margin-top: 30px;
    }

    .carousel-custom .slick-slide {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 1600px) {

    .field-input:focus::placeholder {
        transform: translateY(-50%) scale(0.8, 0.8);
    }
}

@media (max-width: 1100px) {
    .carousel-custom .slick-slide {
        margin-left: 50px;
        margin-right: 50px;
    }

    .slide-text {
        left: -40px;
    }
}

@media (max-width: 1024px) {

    .slide-text {
        bottom: 5px;
    }

    .slide-a {
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    .slider_prev {
        margin-bottom: 90px;
    }
}

@media (max-width: 991px) {

    .cursor-inner,
    .cursor-outer {
        display: none;
    }

    #closeModalButton {
        display: block !important;
    }



    .services-buttons .btn span {
        font-size: 24px;
    }

    .form-container {
        margin: 0 6rem;
    }

    .show-more-block {
        display: flex;
    }

    .show-more-block p,
    .hide-more-block p {
        font-size: var(--font18);
        opacity: 0.4;
    }

    .show-more-btn,
    .hide-more-btn {
        margin-left: 10px;
        background-color: #ff7a7a;
        border: none;
        height: 28px;
        opacity: 0.8;
        color: #fff;
        border-radius: 50%;
        padding: 6px;
        cursor: pointer;
        animation: pulse 2s infinite;
    }

    .show-more-btn svg,
    .hide-more-btn svg {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .rotate {
        transform: rotate(180deg);
    }

    .pulse {
        width: fit-content;
        background: rgb(122, 170, 255);
        cursor: pointer;
        box-shadow: 0 0 0 rgba(122, 170, 255, 1);
        animation: pulse 2s infinite;
    }

    .pulse:hover {
        animation: none;
    }

    @-webkit-keyframes pulse {
        0% {
            -webkit-box-shadow: 0 0 0 0 rgba(122, 170, 255, 0.8);
        }

        70% {
            -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        }

        100% {
            -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        }
    }

    @keyframes pulse {
        0% {
            -moz-box-shadow: 0 0 0 0 rgba(122, 170, 255, 0.8);
            box-shadow: 0 0 0 0 rgba(122, 170, 255, 0.4);
        }

        70% {
            -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        }

        100% {
            -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        }
    }
}

@media (max-width: 880px) {
    .slider_next_button {
        display: inline;
    }

    .services_next {
        right: 1rem;
        top: 10.5rem;
    }
}

@media (max-width: 768px) {


    .carousel-custom .slick-slide {
        margin-left: 20px;
        margin-right: 20px;
    }

    .carousel-custom {
        margin-top: 20px;
    }

    .slide-text {
        bottom: -12px;
    }
}

@media (max-width: 720px) {
    .feedback_form {
        margin: 0;
        padding: 0;
    }

    .feedback_form .field {
        width: 100%;
    }
}


@media (max-width: 600px) {

    .field {
        margin: 3rem 5rem 1rem 0 !important;
        width: 100%;
    }
}

@media (max-width: 500px) {

    .red-circle-feedback {
        right: 0;
    }

    .slide-text {
        bottom: -6px;
        left: -6%;
    }
}

@media (max-width: 440px) {

    .carousel-custom {
        margin-top: 20px;
    }

    .field-input {
        height: 9rem;
        font-size: var(--font10r);
    }

    .field-input::placeholder {
        font-size: 16px;
    }

    .start {
        font-size: var(--font40);
    }

    .mobile-menu-url {
        font-size: 24px;
    }
}

@media (max-width: 991px) {
    #closeModalButton {
        top: 20px !important;
        right: 20px !important;
    }
}