/*Начало основа*/
:root {
  --main-bg-color: #1c1b1b;
  --primary: #e31e24;
  --dark-primary: #350000;
  --font10: 10px;
  --font30: 30px;
  --font18: 18px;
  --font2: 2rem;
}

::-webkit-scrollbar {
  background-color: transparent;
  overflow: overlay;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
}

::-webkit-scrollbar-button {
  background-color: transparent;
  overflow: overlay;
}

::-webkit-scrollbar-thumb {
  background: #e4abab;
  /* border-radius: 99rem; */
  opacity: 1;
  color: #691b1b;
  z-index: 1;
  overflow: overlay;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
}

h2 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
}

h3 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

h4 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 20px 0;
}

input {
  background-color: none;
  outline: none !important;
}

ul {
  list-style-type: none;
}

li {
  font-size: var(--font18);
  font-weight: 600;
}

hr {
  text-align: left;
  height: 0.3rem;
  display: inline-block;
  width: 4rem;
  background-color: #abc1e4;
}

html {
  font-size: 10px;
  line-height: 1.3 !important;
}

body {
  margin: 0;
  cursor: none;
  color: white;
  background-color: var(--main-bg-color);
  overflow: overlay;
  font-family: 'Montserrat', sans-serif !important;
}

a {
  text-decoration: none;
  position: relative;
  cursor: none;
  color: white;
  letter-spacing: 1px;
  font-size: 18px;
}

a:hover:after {
  width: 0;
  right: 0%;
  cursor: none;
}

a:hover {
  color: white !important;
}
/*Конец основа*/

.page-content {
  width: 100%;
  height: 100%;
  position: relative;
}

.page-content:after {
  background-image: url(/assets/images/red-footer-light.png);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20rem;
  background-position: top;
  background-size: cover;
  z-index: -1;
}

.active a {
  color: var(--primary) !important;
}

blockquote:before {
  content: "“";
  position: absolute;
  top: -60px;
  left: 0;
  font-size: 120px;
  font-family: sans-serif;
}

blockquote:after {
  content: "”";
  position: absolute;
  right: 0;
  font-size: 120px;
  font-family: sans-serif;
}

/* .header {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
} */

.section,
section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.circle-container {
  position: relative;
  width: clamp(80px, 20vw, 100px);
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.scrolling-image,
.center-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scrolling-image {
  width: 100%;
  height: 100%;
  animation: moveImage 30s linear infinite;
}

@keyframes moveImage {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

.scrolling-image img,
.center-image img {
  width: 100%;
  height: 100%;
  display: block;
}

.typing-text {
  font-size: 24px;
  z-index: 3;
  display: flex;
  align-items: center;
}

.typing-text:after {
  content: "|";
  opacity: 1;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.nav-item {
  color: white;
  font-size: var(--font2);
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.nav-item a:hover {
  color: var(--primary) !important;
}

.nav-item a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  display: block;
  bottom: 0px;
  right: 0%;
  background: white;
  transition: width 0.5s ease;
}

.nav-item a:hover:after {
  color: red;
  width: 0;
  right: 0%;
  background: white;
}


/*Начало курсор*/

.follow-cursor,
#cursor-inner {
  width: 6px;
  height: 6px;
  background-color: #e31e24;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999999;
}

#custom-cursor {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border: 1px solid rgba(227, 30, 36, 0.3);
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  z-index: 999999;
  transition:
    width 0.3s ease,
    height 0.3s ease,
    background 0.3s ease,
    border 0.3s ease;
}

#cursor-inner {
  width: 6px;
  height: 6px;
  background-color: #e31e24;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999999;
  transition:
    width 0.3s ease,
    height 0.3s ease,
    background 0.3s ease;
}

.follow-cursor {
  width: 6px;
  height: 6px;
  background-color: #e31e24;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999999;
  transition:
    width 0.3s ease,
    height 0.3s ease,
    background 0.3s ease,
    border-color 0.3s ease;
}

#custom-cursor.active {
  width: 80px;
  height: 80px;
  background: rgba(227, 30, 36, 0.15);
  border-color: rgba(227, 30, 36, 0.5);
}

#cursor-inner.active {
  width: 12px;
  height: 12px;
  background-color: #e31e24;
}

.follow-cursor_active {
  width: 80px;
  height: 80px;
  background: rgba(227, 30, 36, 0.15);
  border-color: rgba(227, 30, 36, 0.5);
}

/*Конец курсор*/

/*Начало таймлайн*/
.ag-timeline_item {
  margin: 0 0 50px;
  position: relative;
}

.ag-timeline_item:nth-child(2n) {
  text-align: right;
}

.ag-timeline {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.ag-timeline_line {
  width: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 2px;
  left: 50%;
  bottom: 0;
  overflow: hidden;
  transform: translateX(-50%);
}

.ag-timeline_line-progress {
  width: 100%;
  height: 20%;
  background: #e31e24;
}

.ag-timeline-card_box {
  padding: 0 0 20px 50%;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
  padding: 0 50% 20px 0;
}

.ag-timeline-card_point-box {
  display: inline-block;
  margin: 0 0px 0 -12px;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
  margin: 0px -14px 0 0px;
}

.ag-timeline-card_point {
  height: 25px;
  line-height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(283.67deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.3) 96.25%);
  background-color: #1d1d1b;
  text-align: center;
  font-size: 20px;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.js-ag-active .ag-timeline-card_point {
  color: red;
  background: linear-gradient(283.67deg,
      var(--primary) 0%,
      var(--primary) 96.25%);
}

.ag-timeline-card_item {
  display: inline-block;
  width: 45%;
  background: rgba(231, 240, 250, 0.3);
  opacity: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  -moz-transition: -moz-transform 0.5s, opacity 0.5s;
  -o-transition: -o-transform 0.5s, opacity 0.5s;
  transition: all 0.3s ease;
  position: relative;
}

.ag-timeline-card_item:hover {
  background: rgba(255, 255, 255, 0);
}

.js-ag-active.ag-timeline_item:nth-child(2n + 1) .ag-timeline-card_item,
.js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
  opacity: 1;
  transform: translateX(0);
}

.ag-timeline-card_arrow {
  height: 18px;
  width: 18px;
  margin-top: 20px;
  background: transparent;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ag-timeline_item:nth-child(2n + 1) .ag-timeline-card_arrow {
  margin-left: calc(-18px / 2);
  margin-right: calc(-18px / 2);
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
  margin-left: -10px;
  right: auto;
  left: 0;
}

@media (max-width: 768px) {
  .ag-timeline-card_item {
    background: rgb(129 129 129);
    width: 100%;
  }
}

/*Конец таймлайн*/

/*Начало Услуги*/
.swiper-slide {
  transition-property: transform;
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/*Конец Услуги*/

/*Начало меню слева*/
.leftHeader {
  width: 41%;
  justify-content: space-between;
  position: fixed;
  top: 55rem;
  padding-right: 6rem;
  transform: translate(-50%, -50%) rotate(-90deg);
  align-items: center;
  z-index: 999;
}

.rowLeftHeader {
  display: flex;
  align-items: start;
  margin-left: 20px;
}

.rowLeftHeader .portfolio {
  text-decoration-thickness: 1rem;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.4rem;
}

.rowLeftHeader p {
  letter-spacing: 0.3rem;
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.7;
}

/*Конец меню слева*/

/* .title {
  font-size: 4rem;
  color: white;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.4rem;
  text-align: left;
  margin-bottom: 0.7em;
} */

.modal {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease-in-out;
  z-index: 9999999;
  transform: translateY(100%);
  animation: slideIn 1s forwards;
}


@keyframes slideIn {
  to {
    transform: translateY(0);
  }
}

.modal-content {
  background-color: var(--main-bg-color);
  justify-content: center;
  height: 100%;
  display: flex;
}

.modal-content::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 70%;
  background-image: url("/assets/images/form-footer.png");
  background-size: cover;
  z-index: -1;
}

.send-p:after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/assets/images/long-arrow-right.png");
  transition: transform 0.2s ease;
}

.send-p:hover:after {
  transform: translateX(10px);
}

#closeModalButton {
  position: absolute;
  top: 20px;
  right: 0px;
  width: 5rem;
  height: 4.6rem;
  background-color: var(--primary);
  color: #fff;
  border: none;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at center bottom,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0.3) 40%,
      rgba(0, 0, 0, 0) 70%);
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

/*Начало лампа*/
@keyframes levitate {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }
}

@keyframes shake {
  0% {
    transform: translateY(0) rotate(0);
  }

  25% {
    transform: translateY(-2px) rotate(-1deg);
  }

  50% {
    transform: translateY(2px) rotate(1deg);
  }

  75% {
    transform: translateY(-1px) rotate(-0.5deg);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

.lamp {
  animation: levitate 4s ease-in-out infinite;
  transition: transform 0.3s ease;
}

.lamp:hover {
  animation: shake 0.6s ease;
}

/*Конец лампа*/

/*Начало Кнопка наверх*/
@keyframes launch-wiggle {

  0%,
  100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-4deg);
  }

  75% {
    transform: rotate(4deg);
  }
}

#scrollBtn:hover i {
  animation: launch-wiggle 0.4s ease-in-out;
}

#scrollBtn i {
  position: relative;
  z-index: 2;
}

#scrollBtn {
  overflow: visible;
}

#scrollBtn.launched {
  animation: rocket-launch 0.8s ease forwards;
}

@keyframes rocket-launch {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

/*Конец кнопка наверх*/

/*НАЧАЛО.Меню с блоками красивое */
.block-60 {
  width: 58%;
  height: 100vh;
  background-color: #0e0001;
  color: white;
  font-size: var(--font18);
}

.block-40 {
  width: 42%;
  height: 100vh;
  color: white;
  font-size: var(--font18);
}

.sub-blocks-60 {
  height: 60vh;
  color: white;
  font-size: var(--font18);
}

.block-item-13 {
  width: 40%;
  height: 50%;
  background-color: rgb(105, 81, 128);
  color: white;
  font-size: var(--font18);
}

.block-item-13:nth-child(2) {
  background-color: rgb(175, 163, 187);
}

.block-item-13:nth-child(1) {
  height: 100%;
  background-color: #320707;
  color: white;
  font-size: var(--font18);
}

.block-item-26 {
  height: 50%;
  width: 66, 6%;
  background-color: rgb(178, 95, 255);
  color: white;
  font-size: var(--font18);
}

.block-item-40 {
  height: 40%;
  width: 100%;
  background-color: #600d0e;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
}

.sub-block-item-60-100 {
  width: 100%;
  height: 50%;
  background-color: #1d0b0d;
  justify-content: center;
  display: flex;
  align-items: center;
}

.sub-block-50 {
  width: 50%;
  height: 100%;
  background-color: var(--primary);
  justify-content: center;
  display: flex;
  align-items: center;
}

.sub-block-50:nth-child(2) {
  background-color: #04070f;
  color: #ff6b6b;
}

.big-block-60 {
  width: 60%;
  height: 100%;
}

.pojalusta {
  height: 50%;
}


#complexMenuModal .modal-dialog .modal-content {
  background-color: transparent;
  padding: 0px !important;
  overflow: hidden;
  z-index: 9999;
}

#reveal-1,
#reveal-2,
#reveal-3,
#reveal-4,
#reveal-5,
#reveal-6 {
  opacity: 0;
  transform: translateX(100%) translateY(-50%);
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes appearFromRight {
  to {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

#reveal-1 {
  animation-name: appearFromRight;
  animation-delay: 0s;
}

#reveal-2 {
  animation-name: appearFromRight;
  animation-delay: 0.2s;
}

#reveal-3 {
  animation-name: appearFromRight;
  animation-delay: 0.4s;
}

#reveal-4 {
  animation-name: appearFromRight;
  animation-delay: 0.5s;
}

#reveal-5 {
  animation-name: appearFromRight;
  animation-delay: 0.7s;
}

#reveal-6 {
  animation-name: appearFromRight;
  animation-delay: 0.8s;
}

@keyframes disappearToRight {
  from {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }

  to {
    opacity: 0;
    transform: translateX(100%) translateY(-50%);
  }
}

#reveal-1.disappear,
#reveal-2.disappear,
#reveal-3.disappear,
#reveal-4.disappear,
#reveal-5.disappear,
#reveal-6.disappear {
  animation-name: disappearToRight;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

#reveal-1.disappear {
  animation-delay: 0s;
}

#reveal-2.disappear {
  animation-delay: 0.2s;
}

#reveal-3.disappear {
  animation-delay: 0.4s;
}

#reveal-4.disappear {
  animation-delay: 0.5s;
}

#reveal-5.disappear {
  animation-delay: 0.7s;
}

#reveal-6.disappear {
  animation-delay: 0.8s;
}

.modal-no-bg {
  background-color: transparent !important;
}

.main-menu-portfolio-link {
  display: flex;
  position: absolute;
  top: 37%;
  left: 0;
  right: 0;
  font-size: 56px;
  font-weight: 700;
  transform: rotate(-90deg);
}

/*Конец.Меню с блоками красивое */


@media (max-width: 1440px) {
  .main-menu-portfolio-link {
    top: 45%;
  }

  .main-menu-portfolio-link {
    left: 0;
  }

}

@media (max-width: 1100px) {
  .main-menu-portfolio-link {
    font-size: 36px;
  }

}

@media (max-width: 991px) {
  #complexMenuModal .modal-dialog .modal-content {
    overflow: hidden;
  }

  .mobile-menu-body {
    background: linear-gradient(80deg, #2b0001, #1c1b1b);
    position: relative;
    z-index: 9999999;
    min-height: 100vh;
  }

  .menu-a {
    font-size: var(--font18) !important;
  }

}

@media (max-width: 1299px) {

  .rowLeftHeader {
    display: flex;
    align-items: start;
  }

}

@media (max-width: 1024px) {

  .typing-text {
    display: none;
  }

  .container {
    padding: 0 20px;
  }
}

@media (max-width: 991px) {

  .button-close {
    background-color: transparent !important;
    font-size: var(--font18) !important;
    position: relative !important;
    left: 0 !important;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  h4 {
    font-size: 22px;
    margin-bottom: 15px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
    margin: 15px 0;
  }


  blockquote:before,
  blockquote:after {
    font-size: 60px;
  }

  blockquote:before {
    top: -40px;
  }

  .section,
  section {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.menu-a {
  margin-right: 20px;
  text-decoration: none;
  font-size: 24px;
}

.button-close {
  background-color: #04070f;
  border: none;
  color: var(--primary);
  font-size: 50px;
  position: absolute;

}

.big-block-content {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}


.media-links a {
  font-size: 36px;
  margin-right: 25px;
  margin-top: 80px;
  font-weight: 700;
}

.circle-1 {
  position: absolute;
  top: 3%;
  left: 10%;
}

.circle-3 {
  position: absolute;
  top: 14%;
  right: 19%;
}

.circle-3 img {
  filter: contrast(2) brightness(0.5);
}

.circle-4 {
  position: absolute;
  top: 20%;
  left: 1%;
}

.circle-5 {
  position: absolute;
  top: 40%;
  left: 35%;
}

.circle-6 {
  position: absolute;
  top: 70%;
  left: -5%;
}

.circle-7 {
  position: absolute;
  top: 70%;
  right: 2%;
  opacity: 0.5;
}

.circle-1 img,
.circle-2 img,
.circle-3 img,
.circle-4 img,
.circle-5 img,
.circle-6 img {
  opacity: 0.3;
  filter: saturate(1.2) contrast(1.6);
}


.slide-title {
  line-height: 1;
  text-shadow: 1px 1px 5px #0000007d;
  display: flex;
  width: 100%;
}


.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  color: red;
}

.close:hover,
.close:focus {
  color: white;
}

.custom-button {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px
}

.custom-button:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/assets/images/long-arrow-right.png");
  transition: transform 0.2s ease;
}

.custom-button:hover:after {
  transform: translateX(10px);
}

.sub-text-under-content {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  color: #1c1b1b;
  text-shadow: -1px 0 #f8052d, 0 1px #f8052d, 1px 0 #f8052d, 0 -1px #f8052d;
  opacity: 0.15;
  font-weight: 700;
  line-height: 1;
}

/*Начало рябь */
.crt-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  pointer-events: none;
  background: repeating-linear-gradient(to bottom,
      rgba(255, 255, 255, 0.015) 0px,
      rgba(255, 255, 255, 0.015) 1px,
      transparent 1px,
      transparent 2px);
  background-size: 100% 2px;
  animation: flicker 2s infinite alternate;
  opacity: 0.2;
}

.crt-overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../images/oEI9uBYSzLpBK.gif');
  background-size: cover;
  background-position: center;
  opacity: 0.03;
}

.crt-overlay::after {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.04) 50%, transparent 100%);
  animation: scanline 4.5s infinite linear;
  opacity: 0.1;
}

@keyframes flicker {
  0% {
    opacity: 0.05;
  }

  100% {
    opacity: 0.08;
  }
}

@keyframes scanline {
  0% {
    top: -100%;
  }

  100% {
    top: 100%;
  }
}

/*Конец рябь */

/*Начало анимация пульсации дзынь дзынь*/
@keyframes pulse-slow {

  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.85;
    transform: scale(1.05);
  }
}

.animate-pulse-slow {
  animation: pulse-slow 2.8s infinite ease-in-out;
}

/*Конец анимация пульсации дзынь дзынь*/

/*начало о нас*/
.about_company_title .redline {
  position: relative;
  display: inline-block;
  z-index: 1;
  overflow: hidden;
  padding: 4px 0;
}

.about_company_title .redline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #e31e24;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 1s ease;
  z-index: -1;
}

.about_company_title.revealed .redline-1::before {
  transition-delay: 0s;
  transform: scaleX(1);
}

.about_company_title.revealed .redline-2::before {
  transition-delay: 0.4s;
  /* задержка для второй строки */
  transform: scaleX(1);
}

/* hr {
  margin-inline-start: 0;
  bottom: 11rem;
  height: 0.4rem;
  left: 0;
  width: 3.8rem;
} */

.criteria {
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.criteria li {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 2rem;
  font-size: 24px;
}

.criteria li ::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.35em;
  width: 1rem;
  height: 1rem;
  background-color: #e4abab;
  border-radius: 50%;
}
/*конец о нас*/